{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "safari >= 7"]
				},
				"modules": false
			}
		]
	],
	"plugins": [
		"transform-class-properties",
		[
			"babel-plugin-styled-components",
			{
				"displayName": true
			}
		]
	],
	"ignore": ["node_modules"]
}
